<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container body-content">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<p th:unless="${trips} and ${trips.size()}">Nothing here yet!</p>

<table class="table">

    <tr>
        <th>Trip Name</th>
        <th>Trip Description</th>
    </tr>

    <tr th:each="trip : ${trips}">
        <td th:text="${trip.name}"></td>
        <td th:text="${trip.description}"></td>

    </tr>

</table>

<ul>
    <li th:each="trip : ${trips}" th:text="${trip}"></li>

</ul>


</body>
</html>