<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<form method="post">

    <div th:each="trip : ${trips}" class="checkbox">
        <input type="checkbox" name="ids" th:value="${trip.uid}" th:id="${trip.uid}"/>
        <label th:for="${trip.uid}" th:text="${trip.name}"></label>
        <br />
    </div>

    <input type="submit" value="Remove Trip" />

</form>

</body>

</html>